header{
    min-height: 100px;
}
.jumbotron{
    min-height: 400px;
}
main{
    min-height: 2000px;
}
.about{
    min-height: 400px;
}
.contact{
    min-height: 400px;
}
.location{
    min-height: 300px;
}
.copyright{
    min-height: 100px;
}